[submodule "Carthage/Checkouts/Assertions"]
	path = Carthage/Checkouts/Assertions
	url = https://github.com/antitypical/Assertions.git
[submodule "Carthage/Checkouts/Bass"]
	path = Carthage/Checkouts/Bass
	url = https://github.com/335g/Bass.git
