[submodule "Carthage/Checkouts/Assertions"]
	path = Carthage/Checkouts/Assertions
	url = https://github.com/antitypical/Assertions.git
[submodule "Carthage/Checkouts/BaseKit"]
	path = Carthage/Checkouts/BaseKit
	url = https://github.com/335g/BaseKit.git
